.about {
  text-align: center;
  font-size: x-large;
  font-style: italic;
}

.post-body {
  text-align: center;
}

.post-intro {
  font-family: sans-serif;
  font-weight: bold;
  color: blueviolet;
}